body {
  margin: 0;
  padding: 0;
}

.main-container {
  display: block;
  width: 1000px;
  height: 200px;
  background-color: #333;
  margin: auto;
  margin-top: 20px;
  overflow: hidden;
  padding: 0;  
  box-sizing: border-box;
  padding-top: 25px;
}
.main-container a {
  display: inline-block;
  width: 25%;
  height: 200px;
  text-align: center;
  /*background-color: red;*/
  box-sizing: border-box;
  transform: scale(1);
  transition: transform 0.6s;
}
.main-container a img  {
  display: block;
  width: 59%;
  height: auto;
  margin: auto;
}
.main-container a.hide {
  transform: scale(0);
}