body {
  margin: 0;
  padding: 0;
}

.main-container {
  display: block;
  width: 1000px;
  height: 200px;
  margin: auto;
  margin-top: 20px;
  overflow: hidden;
  padding: 0;
  box-sizing: border-box;
  padding-top: 25px;
}
.main-container a {
  display: inline-block;
  width: 25%;
  height: 200px;
  text-align: center;
  box-sizing: border-box;
  transition: transform 0.6s;
  transform: scale(1);
}
.main-container a img  {
  display: block;
  width: 59%;
  height: auto;
  margin: auto;
}
.main-container a.ed2-hide {
  transform: scale(0);
}
